<!--
  Tangobot visualization & navigation stack
-->
<launch>
  <!-- velocity commands remapper -->
  <node pkg="std_turtlebot" name="remap_topics" type="remap_topics" args="/navigation_velocity_smoother/raw_cmd_vel /cmd_vel"/>
  <!-- Start robot model --> 
  <include file="$(find tangobot_desktop_dev)/launch/tangobot_demo_visualizer.launch"/>
  <!-- Start navstack and publish map --> 
  <include file="$(find std_turtlebot)/launch/tools/navstack.launch"/>
</launch>
